<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>reg</servlet-name>
        <servlet-class>reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginvalid</servlet-name>
        <servlet-class>loginvalid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>goa</servlet-name>
        <servlet-class>goa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>goa1</servlet-name>
        <servlet-class>goa1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manali1</servlet-name>
        <servlet-class>manali1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jaipur1</servlet-name>
        <servlet-class>jaipur1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kerala1</servlet-name>
        <servlet-class>kerala1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>darjeeling1</servlet-name>
        <servlet-class>darjeeling1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>andaman1</servlet-name>
        <servlet-class>andaman1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>goa2</servlet-name>
        <servlet-class>goa2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jaipur2</servlet-name>
        <servlet-class>jaipur2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kerala2</servlet-name>
        <servlet-class>kerala2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>darjeeling2</servlet-name>
        <servlet-class>darjeeling2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manali2</servlet-name>
        <servlet-class>manali2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>andaman2</servlet-name>
        <servlet-class>andaman2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Adminuser</servlet-name>
        <servlet-class>Adminuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlogin</servlet-name>
        <servlet-class>adminlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogout</servlet-name>
        <servlet-class>AdminLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlightAdmin</servlet-name>
        <servlet-class>FlightAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFlight</servlet-name>
        <servlet-class>AddFlight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFlight</servlet-name>
        <servlet-class>DeleteFlight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowFlights</servlet-name>
        <servlet-class>ShowFlights</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFlight</servlet-name>
        <servlet-class>UpdateFlight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFlightForm</servlet-name>
        <servlet-class>UpdateFlightForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBus</servlet-name>
        <servlet-class>AddBus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowBuses</servlet-name>
        <servlet-class>ShowBuses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusAdmin</servlet-name>
        <servlet-class>BusAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBusForm</servlet-name>
        <servlet-class>UpdateBusForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBus</servlet-name>
        <servlet-class>DeleteBus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBus</servlet-name>
        <servlet-class>UpdateBus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectBookingServlet</servlet-name>
        <servlet-class>RejectBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmBusBooking</servlet-name>
        <servlet-class>ConfirmBusBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Homepage</servlet-name>
        <servlet-class>Homepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookingspackage</servlet-name>
        <servlet-class>bookingspackage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>books</servlet-name>
        <servlet-class>books</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hotelbook</servlet-name>
        <servlet-class>hotelbook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotStep1</servlet-name>
        <servlet-class>ForgotStep1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotStep2</servlet-name>
        <servlet-class>ForgotStep2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotStep3</servlet-name>
        <servlet-class>ForgotStep3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>reg</servlet-name>
        <url-pattern>/reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginvalid</servlet-name>
        <url-pattern>/loginvalid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>goa</servlet-name>
        <url-pattern>/goa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>goa1</servlet-name>
        <url-pattern>/goa1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manali1</servlet-name>
        <url-pattern>/manali1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jaipur1</servlet-name>
        <url-pattern>/jaipur1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kerala1</servlet-name>
        <url-pattern>/kerala1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>darjeeling1</servlet-name>
        <url-pattern>/darjeeling1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>andaman1</servlet-name>
        <url-pattern>/andaman1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>goa2</servlet-name>
        <url-pattern>/goa2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jaipur2</servlet-name>
        <url-pattern>/jaipur2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kerala2</servlet-name>
        <url-pattern>/kerala2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>darjeeling2</servlet-name>
        <url-pattern>/darjeeling2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manali2</servlet-name>
        <url-pattern>/manali2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>andaman2</servlet-name>
        <url-pattern>/andaman2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Adminuser</servlet-name>
        <url-pattern>/Adminuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlogin</servlet-name>
        <url-pattern>/adminlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogout</servlet-name>
        <url-pattern>/AdminLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlightAdmin</servlet-name>
        <url-pattern>/FlightAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFlight</servlet-name>
        <url-pattern>/AddFlight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFlight</servlet-name>
        <url-pattern>/DeleteFlight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowFlights</servlet-name>
        <url-pattern>/ShowFlights</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFlight</servlet-name>
        <url-pattern>/UpdateFlight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFlightForm</servlet-name>
        <url-pattern>/UpdateFlightForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBus</servlet-name>
        <url-pattern>/AddBus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowBuses</servlet-name>
        <url-pattern>/ShowBuses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusAdmin</servlet-name>
        <url-pattern>/BusAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBusForm</servlet-name>
        <url-pattern>/UpdateBusForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBus</servlet-name>
        <url-pattern>/DeleteBus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBus</servlet-name>
        <url-pattern>/UpdateBus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectBookingServlet</servlet-name>
        <url-pattern>/RejectBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmBusBooking</servlet-name>
        <url-pattern>/ConfirmBusBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Homepage</servlet-name>
        <url-pattern>/Homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookingspackage</servlet-name>
        <url-pattern>/bookingspackage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>books</servlet-name>
        <url-pattern>/books</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hotelbook</servlet-name>
        <url-pattern>/hotelbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotStep1</servlet-name>
        <url-pattern>/ForgotStep1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotStep2</servlet-name>
        <url-pattern>/ForgotStep2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotStep3</servlet-name>
        <url-pattern>/ForgotStep3</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
